body {
    background:#fff url(../images/blog/main_bg_2.gif) repeat-x;
    font-family:'Lucida Grande',Verdana,Tahoma,Arial;
    font-size:62.5%;
    line-height:16px;
    color:#3f3b39;
    margin:0 25px;

    text-shadow:0 0 0 #ffffff; /* Safari Mac rendering fix */
    -moz-opacity:0.9999; /* Mozilla Mac rendering fix */
}

a {
    color:#3f3b39;
    outline-style:none;
    -moz-outline-style:none;
}

strong {
    font-weight:bold;
}

em {
    font-style:italic;
}

strong em, em strong {
    font-style:italic;
    font-weight:bold;
}

small {
    font-size:0.9em;
}

#wrap {
    width:900px;
}

/* TOP MENU */
/* ---------------------------- */

#top {
    background:#35312f url(../images/blog/main_bg.gif) no-repeat;
    height:71px;
}

#top h1 {
    float:left;
    margin-top:16px;
}

#top h1 a {
    display:block;
    text-indent:-3000px;
    background:url(../images/blog/logo_new.gif) no-repeat;
    width:316px;
    height:36px;
}

#top div#msg {
    float:right;
    background:#ffffff url(../images/blog/twitter_left.gif) no-repeat top left;
    color:#3f3b39;
    margin:22px 0 0 0;
    padding-left:16px;
}

#top div#msg div {
    background:url(../images/blog/twitter_right.gif) no-repeat top right;
    padding-right:10px;
    line-height:2.7em;
}

/* MENU */
/* ---------------------------- */

#top2 {
    height:35px;
}

#top2 #menu {
    float:left;
}

#top2 #menu li {
    float:left;
}

#top2 #menu li a {
    text-indent:-3000px;
    display:block;
    height:35px;
}

#top2 #menu li.popular a:link, #top2 #menu li.popular a:visited {
    width:55px;
    background:url(../images/blog/menu_new.gif) no-repeat 0 0;
}

#top2 #menu li.popular a:hover, #top2 #menu li.popular a:active {
    background:url(../images/blog/menu_new.gif) no-repeat 0 -35px;
}

#top2 #menu li.latest a:link, #top2 #menu li.latest a:visited {
    width:58px;
    background:url(../images/blog/menu_new.gif) no-repeat -55px 0;
}

#top2 #menu li.latest a:hover, #top2 #menu li.latest a:active {
    background:url(../images/blog/menu_new.gif) no-repeat -55px -35px;
}

#top2 #menu li.owner a:link, #top2 #menu li.owner a:visited {
    width:62px;
    background:url(../images/blog/menu_new.gif) no-repeat -113px 0;
}

#top2 #menu li.owner a:hover, #top2 #menu li.owner a:active {
    background:url(../images/blog/menu_new.gif) no-repeat -113px -35px;
}

#top2 #menu li.contact a:link, #top2 #menu li.contact a:visited {
    width:52px;
    background:url(../images/blog/menu_new.gif) no-repeat -175px 0;
}

#top2 #menu li.contact a:hover, #top2 #menu li.contact a:active {
    background:url(../images/blog/menu_new.gif) no-repeat -175px -35px;
}

#body #search_box {
    width:100%;
    height:35px;
    margin:20px 0 0 0;
    background:#fff9b7 url(../images/blog/info_left.gif) no-repeat top left;
}

#body #search_box form {
    margin-left:28px;
}

#body #search_box input {
    background:#fefefe url(../images/blog/input_box.gif) repeat-x bottom left;
    border:1px solid #a32c0d;
    color:#3d3937;
    width:100px;
    margin-top:8px;
    font-size:1em;
    padding:2px 3px;
}


/* BLOG POST */
/* ---------------------------- */

div.blog_post {
    border-bottom:1px solid #d9d8d7;
    padding:20px 0;
}

div.blog_post div.info {
    width:130px;
    padding:3px 20px 0 0;
    float:left;
    font-size:1.1em;
}

div.blog_post div.body {
    width:500px;
    float:left;
}

div.blog_post div.info h3 {
    margin:2px 0 12px 0;
    color:#8f8987;
}

div.blog_post div.info h3 a {
    color:#8f8987;
    text-decoration:none;
}

div.blog_post div.info em {
    color:#f03706;
    font-style:normal;
    font-weight:bold;
    line-height:1.6em;
}

div.blog_post div.info a {
    text-decoration:none;
}

div.blog_post div.info ul.dropit {
    width:150px;
}

div.blog_post div.info ul.dropit li {
    position:relative;
}

div.blog_post div.info ul.dropit li em.link {
    color:#f03504;
    text-decoration:none;
    border-bottom:1px solid #fac2b3;
    font-style:normal;
    font-weight:bold;
    cursor:pointer;
    background:url(../images/blog/share_link.gif) no-repeat top right;
    padding-right:13px;
}

div.blog_post div.info ul.dropit li:hover ul {
    display:block;
}

div.blog_post div.info ul.dropit li ul {
    position:absolute;
    left:10em;
    top:-0.4em;
    display:none;
    width:132px;
    padding:3px 0 0 6px;
    background:url(../images/blog/share_arrow.gif) no-repeat top left;
}

div.blog_post div.info ul.dropit li ul li {
    background:#f14619;
    padding:2px 11px 4px 8px;
    background:url(../images/blog/share_one.png) repeat-y;
}

div.blog_post div.info ul.dropit li ul li.first {
    background:url(../images/blog/share_top.png) no-repeat top left;
    padding-top:7px;
}

div.blog_post div.info ul.dropit li ul li.last {
    background:url(../images/blog/share_bottom.png) no-repeat bottom left;
    padding-bottom:10px;
}

div.blog_post div.info ul.dropit li ul li a:link, div.blog_post div.info ul.dropit li ul li a:visited {
    color:#fff;
    display:block;
    font-weight:bold;
    padding-left:22px;
}

div.blog_post div.info ul.dropit li ul li a:hover, div.blog_post div.info ul.dropit li ul li a:active {
    color:#ffea00;
}

div.blog_post div.info ul.dropit li ul li a.digg { background:url(../images/blog/icons/digg.gif) no-repeat top left; }
div.blog_post div.info ul.dropit li ul li a.delicious { background:url(../images/blog/icons/delicious.gif) no-repeat top left; }
div.blog_post div.info ul.dropit li ul li a.magnolia { background:url(../images/blog/icons/magnolia.gif) no-repeat top left; }
div.blog_post div.info ul.dropit li ul li a.newsvine { background:url(../images/blog/icons/newsvine.gif) no-repeat top left; }
div.blog_post div.info ul.dropit li ul li a.reddit { background:url(../images/blog/icons/reddit.gif) no-repeat top left; }
div.blog_post div.info ul.dropit li ul li a.stumbleupon { background:url(../images/blog/icons/stumbleupon.gif) no-repeat top left; }
div.blog_post div.info ul.dropit li ul li a.technorati { background:url(../images/blog/icons/technorati.gif) no-repeat top left; }

div.blog_post div.body div.title h1 {
    color:#3f3b39;
    font-size:1.8em;
    line-height:1.25em;
}

div.blog_post div.body div.title em, div.blog_post div.body div.title em a {
    color:#b6aeaa;
    font-style:normal;
}

div.blog_post div.body div.title h1 a {
    text-decoration:none;
}

div.blog_post div.body div.excerpt a {
    color:#227bac;
    text-decoration:none;
    border-bottom:1px solid #a7cade;
}

div.blog_post div.body div.excerpt p {
    margin:10px 0 0 0;
    font-size:1.2em;
    line-height:18px;
    color:#6e6865;
}

div.blog_post div.body div.excerpt blockquote {
    margin:10px 20px 0 20px;
    font-size:1.1em;
    line-height:16px;
}

div.blog_post div.body div.excerpt blockquote p {
    font-family:Georgia,sans-serif;
    font-style:italic;
    color:#3f3b39;
}

div.blog_post div.body div.excerpt img {
    border:8px solid #c8c7c7;
}

div.blog_post div.body div.excerpt img.lefty {
    margin:3px 15px 10px 0;
    float:left;
}

div.blog_post div.body div.excerpt img.righty {
    float:right;
    margin:3px 0 10px 15px;
}

div.blog_post div.body div.excerpt ul {
    list-style-type:disc;
    margin:10px 0 0 0;
    font-size:1.2em;
    line-height:18px;
}

div.blog_post div.body div.excerpt ul li {
    margin:0 15px;
}

div.blog_post div.body div.excerpt h2 {
    color:#3f3b39;
    font-size:1.4em;
    line-height:1.1em;
    margin-top:20px;
}

div.blog_post div.body div.excerpt h3 {
    color:#3f3b39;
    font-size:1.3em;
    line-height:1em;
    margin-top:20px;
}

div.blog_post div.body div.excerpt em.hl {
    background:#fffcdb;
    padding:2px 3px;
    font-style:normal;
}

div.blog_post div.body div.excerpt pre {
    padding:0;
    margin:10px 0 0 0;
    border:8px solid #fff9b7;
    background:#fffcdb;
    padding:5px 10px;
    overflow:auto;
}

div.blog_post div.body div.excerpt code {
    font-size:1.4em;
    background:#fffcdb;
}

p.txt {
    font-size:1.1em;
    margin:10px 0;
}

p.txt .tag1 {font-size: 1.0em; color:#f1f1f1; }
p.txt .tag2 {font-size: 1.2em; color:#c7c7c7; }
p.txt .tag3 {font-size: 1.4em; color:#9d9d9d; }
p.txt .tag4 {font-size: 1.6em; color:#625f5e; }
p.txt .tag5 {font-size: 1.8em; color:#3f3f3f; }
p.txt .tag6 {font-size: 2.0em; color:#191717; }

/* GRIDS */
/* ---------------------------- */

div.grid {
    width:900px;
}

div.grid div.grid1 {
    width:650px;
    float:left;
    margin-right:20px;
}

div.grid div.grid2 {
    padding-left:19px;
    width:210px;
    float:left;
    border-left:1px solid #e5e5e5;
    margin-top:20px;
}

/* EXTRAS */
/* ---------------------------- */

p.notice {
    background:#ef643f url(../images/blog/notice_left.gif) no-repeat top left;
    height:26px;
    width:650px;
    margin:20px 0 0 0;
}

p.notice span {
    background:#ef643f url(../images/blog/notice_right.gif) no-repeat top right;
    display:block;
    height:21px;
    margin-left:28px;
    color:#fff;
    padding-top:5px;
    font-size:1.1em;
    font-weight:bold;
}

p.notice2 {
    background:#ef643f url(../images/blog/notice_left2.gif) no-repeat top left;
}

p.notice2 span {
    margin:0 0 0 5px;
    padding:5px 10px 0 5px;
}

p.notice2 span a {
    color:#fff9b7;
}

p.info {
    background:#fff9b7 url(../images/blog/info_left.gif) no-repeat top left;
    height:26px;
    width:650px;
    margin:20px 0 0 0;
}

p.info span {
    background:#fff9b7 url(../images/blog/info_right.gif) no-repeat top right;
    display:block;
    height:21px;
    margin-left:28px;
    color:#3f3b39;
    padding-top:5px;
    font-size:1.1em;
    font-weight:bold;
}

p.info2 {
    background:#fff9b7 url(../images/blog/info_left2.gif) no-repeat top left;
}

p.info2 span {
    margin:0 0 0 5px;
    padding:5px 10px 0 5px;
}

p.info2 span a {
    text-decoration:none;
}

p.info em.hl {
    background:#fffcdb;
    padding:1px 4px 2px 4px;
    font-style:normal;
    font-weight:bold;
}

ul.error {
    list-style-type:disc;
    margin:10px 0 0 0;
    font-size:1.1em;
    line-height:18px;
    color:#f03706;
    border-bottom:1px solid #d9d8d7;
    padding-bottom:10px;
}

ul.error li {
    margin-left:15px;
}

/* GRIDS */
/* ---------------------------- */

#sidebar h3 {
    font-size:1.3em;
    border-bottom:1px solid #d9d8d7;
    padding-bottom:10px;
    margin:20px 0 10px 0;
}

#sidebar p.rss {
    margin:0;
}

#sidebar p.rss a:link, #sidebar p.rss a:visited {
    display:block;
    width:129px;
    height:58px;
    background:url(../images/blog/rss.gif) no-repeat 0 0;
    text-decoration:none;
    border:0;
    color:#3f3b39;
    padding:10px 12px 0 71px;
    line-height:14px;
}

#sidebar p.rss a:hover, #sidebar p.rss a:active {
    background:url(../images/blog/rss.gif) no-repeat 0 -68px;
    color:#000;
}

#sidebar p.rss a em {
    font-style:normal;
    display:block;
    font-size:1.3em;
    border-bottom:1px solid #b4ebf0;
    line-height:16px;
    padding-bottom:2px;
    margin-bottom:2px;
}

#sidebar p.new {
    margin-top:12px;
    border-top:1px solid #d9d8d7;
    padding:13px 0 10px 71px;
    background:url(../images/blog/new_title.gif) no-repeat top left;
}

#sidebar p.help {
    margin-top:12px;
    //border-top:1px solid #d9d8d7;
    padding:13px 0 10px 71px;
    background:url(../images/blog/help.png) no-repeat top left;
}

#sidebar ul li {
    margin-bottom:5px;
    line-height:13px;
    font-size:1.1em;
}

#sidebar ul li a {
    color:#f03706;
    text-decoration:none;
}

#sidebar ul li small {
    font-size:0.9em;
}

#sidebar ul li span.hl {
    color:#f03706;
}

#sidebar p {
    margin-top:5px;
}

#sidebar p a {
    color:#227bac;
    text-decoration:none;
    border-bottom:1px solid #a7cade;
}

/* COMMENTS */
/* ---------------------------- */

div.comment_bit {
    border-bottom:1px solid #d9d8d7;
    padding:15px 0 10px 0;
}

div.comment_bit div.fieldWithErrors {
    display:inline;
}

div.comment_bit div.fieldWithErrors input {
    /* border:1px solid red; CHANGE LATER */
}

div.comment_bit div.left {
    width:130px;
    padding:0 0 0 0;
    float:left;
    font-size:1.1em;
    border-right:1px solid #f0f0ef;
    margin-right:19px;
    margin-bottom:5px;
}

div.comment_bit div.author {
    background:url(../images/blog/author.gif) no-repeat top right;
}

div.comment_bit div.right {
    width:500px;
    float:left;
}

div.comment_bit div.left em {
    color:#f03706;
    font-style:normal;
    font-weight:bold;
}

div.comment_bit div.left em a {
    color:#f03706;
    text-decoration:none;
}

div.comment_bit div.right p {
    font-size:1.1em;
    color:#6e6865;
    margin-bottom:5px;
}

div.form_bit div.left em {
    color:#227bac;
}

div.form_bit div.left a {
    text-decoration:none;
}

div.form_bit div.left small {
    margin-top:3px;
    display:block;
}

div.comment_bit div.right pre {
    padding:0;
    margin:5px 0 0 0;
    border:5px solid #fff9b7;
    background:#fffcdb;
    padding:3px 6px;
    overflow:auto;
}

div.comment_bit div.right code {
    font-size:1.25em;
    background:#fffcdb;
}

div.comment_bit div.right form.inplaceeditor-form textarea {
    margin-bottom:5px;
    font-family:'Lucida Grande',Verdana,Tahoma,Arial;
    padding:4px;
    width:475px;
}

div.comment_bit div.right form.inplaceeditor-form input[type="submit"] {
    font-weight:bold;
}

div.comment_bit div.right form.inplaceeditor-form a {
  margin-left:1em;
    color:#227bac;
    text-decoration:none;
    border-bottom:1px solid #a7cade;
}

/* ARCHIVE */
/* ---------------------------- */

h2.leftward {
    color:#3f3b39;
    font-size:1.4em;
    line-height:1.25em;
    margin-top:20px;
    padding-bottom:5px;
    border-bottom:1px solid #f0f0ef;
}

h1.leftward {
    color:#3f3b39;
    font-size:1.8em;
    line-height:1.25em;
    margin-top:30px;
    padding-bottom:5px;
    border-bottom:1px solid #f0f0ef;
}

div.archive_post {
    padding:10px 0;
}

div.archive_post div.info {
    padding-top:1px;
}

div.archive_post div.info em {
    color:#f4967d;
}

div.archive_post div.body {
    width:430px;
}

div.archive_post div.body div.title h1 {
    font-size:1.4em;
}

div.archive_post div.author {
    width:70px;
    float:right;
    text-align:right;
}

div.archive_post div.author h2 {
    font-size:1.1em;
    color:#8f8987;
}

div.archive_post div.author h2 a {
    color:#8f8987;
    text-decoration:none;
}

/* Old clearfloat */
/* ---------------------------- */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

.easteregg {
    text-decoration: none;
    cursor: text;
}

span.handle {
    cursor: move;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}5
/* End hide from IE-mac */
